
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.reset {
   color: antiquewhite;
    background-color: orange;
    border: solid 1px black;
}

img {
    width: 120px;
    height: 75px;
    display: block;
    float: left;
    padding: 5px;
    margin: 2px; 
}

div.desc {
    padding: 10px;
    text-align: center;
}

div.char {
    margin: 5px;
    border: 2px solid rgb(241, 79, 4);
    float: left;
    width: 150px;
    background-color: antiquewhite;
}

div.health {
    margin: 5px;
    text-align: center;
}

h2 {
    color: white;
}

h1{
    color: white;
}

.column1 {
    float: left;
    width: 50%;
  }

.column2 {
    float: left;
    width: 50%;
  }

  #playfieldB {
    width: 50%;
    height: 200px;
    border: 2px solid white;
    float:left;
    margin: 20px;
    background-color: antiquewhite;
    float: left;
  }
  #playfieldP {
    width: 50%;
    height: 200px;
    border: 2px solid white;
    float:left;
    margin: 20px;
    background-color: antiquewhite;
    float: left;
  }
 
  #hit {
    margin: 75px;
    color: antiquewhite;
    background-color: orange;
    border: solid 1px black;
    float: right;
    height: 50px;
    width: 100px;
  }

  h3 {
      float: right;
      margin: 15px;
      font-size: 12px;
      text-align: center;
      padding-right: 20px;
  }

  table {
      float: right;
      margin: 20px;
      padding-right: 10px;
      border: solid 1px orange;
  }

  
